body{
font-family: "Montserrat", sans-serif;
margin: 0;
padding: 0;
overflow: hidden;
color: white;
}
.main{
  background-color: black;
  display: flex;
  height: 100vh;
}
.sidebar{
 background-color: black;
 width:25% ;
 border-radius: 1rem;/*  16 px*/
}
.maincontent{
 background-color: #121212;
 flex:1;
 overflow: auto;
 border-radius:1rem ;
}
.audio-player{
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  

}
.sidebarupper{
  background-color: #121212;
  border-radius: 1rem;
  height: 17%;
  margin: 0.25rem 0.5rem ;
  display: flex;
  flex-direction: column;

}
.sidebarbelow{
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin: 0.5rem 0.5rem ;


}
i{
  color: aliceblue;
}
.box1{
 display: flex;
 margin: 1rem 1rem;
}
.box2{
  display: flex;
  margin: 0.5rem 1rem;
}

.icon1{
  margin-top: 0.3rem;
  margin-right: 1.3rem;
  cursor: pointer;

}
.icon2{
  margin-top: 0.37rem;
  margin-right: 1.3rem;
  opacity: 0.7;
  cursor: pointer;
  

}
.name1{
 color: white;
 font-size: 1.3rem;
 cursor: pointer;
}
.name2{
  color:white;
  opacity: 0.7;
  font-size: 1.3rem;

}
.name2:hover{
  opacity: 1;
  cursor: pointer;
  
}
.library{
  display: flex;
  justify-content: space-between;
}
.imglibaray{
  height: 1.3rem;
  width: 1.3rem;
  left: 0.3rem;
}
.libarayipn{
  display: flex;
  margin: 0.8rem 1.5rem;
  


}
.libraryicon{
  margin: 0.8rem 1.5rem;
  
}
.libraryicon i{
  padding-left: 1.5rem;

}
.libarypart{
  color: white;
  font-size: 1.3rem;
  opacity: 0.7;
  margin-right: 1rem;
}
#img{
  margin-left: 0rem;
  margin-right: 0.8rem;
  opacity: 0.7;
}
.notice1{
  height: 20%;
  background-color: #232323;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem ;
  line-height: 0.8;



}
.para1{
 color: white;
 font-size: 1.3rem;
 padding: 1rem 0 0 0.87rem;
}
.para2{
color: white;  
font-size: 0.9rem;
padding: 0 0 0 0.87rem;
opacity: 0.8;
}
.btn1{
  margin: 1rem 0.87rem;
  padding: 0.2rem 0.66rem;
  font-weight: 510;
  text-align: center;
  border: none;
  background-color: white;
  border-radius: 15px;
  line-height: 1.2rem;


}
.notice2 .para1{
  line-height: 1;
  
}
.imglibaray:hover{
  opacity: 1;
  cursor: pointer;
}
.libarypart:hover{
  opacity: 1;
  cursor: pointer;
}
.icon2:hover{
  opacity: 1;
  cursor: pointer;
}
.notice2 .para2{
  margin-bottom: 0;
}
/********************main content********************************************/
.maincontent{
  padding: 2rem 2rem;
 
}
.nav{
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: sticky;
  z-index: 10;
  background-color: #121212;
  height: 4%;
  border-radius: 15px;
  top:0;
}
.forwardarow{
  font-size: 1.5rem;
  margin-right: 1rem;
  opacity: 0.7;

}
.backwardarow{
  font-size: 1.5rem;
  opacity: 0.7;

}
.forwardarow:hover{
  opacity: 1;
}
.backwardarow:hover{
  opacity: 1;
}
.btnofnav{
  display: flex;
  
}
.btn1nav{
background-color: white;
border: none;
border-radius: 15px;
font-weight: 540;

}
.btn2nav{
  background-color: black;
  border: none;
  color: white;
  border-radius: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 500;

}
.iconinside{
  margin-right:0.3rem ;
  
}
/*content*/
.containerofcard{
  display: flex;
  flex-wrap: wrap;
  

}
.card{
  background-color: #232323a3;
  width:10rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left:2.2rem ;
  cursor: pointer;
  

}
.cardimg{
  width: 100%;
  border-radius: 0.5rem;
}
.heading{
  font-size: 1.22rem;
  font-weight: 700px;
}
.text{
  font-size: 0.8rem;
  opacity: 0.8;
}
.card:hover{
  box-shadow: 0.2rem 0.2rem 0.4rem black;
  background-color: #232323ff;
}
.footer{
  height: 16rem;
  display:flex;
  justify-content: center;
  align-items: center;
}
.line{
  width: 90%;
  height: 50%;
  border-top:2px solid #232323 ;
  opacity: 0.7;

}

/*last part*/
.audio-player{
  display: flex;
}
.ap1{
 width: 25%;
 
 display: flex;
}
.ap1img{
margin: 0.46rem;
border-radius: 0.2rem;
}
.ap1text{
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.4rem;
  padding-top: 0.62rem;

}
.ap1icon{
display: flex;
justify-content: center;
align-items: center;
margin-left:2.5rem ;

}
.imgicon1{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.3rem;
}
.imgicon2{
  width: 1.9rem;
  height: 1.9rem;
  background-color: white;

}
.ap1p2{
  font-size: 0.73rem;
  font-weight: 300;
  opacity: 0.7;
}
.imgap1{
  height: 3.8rem;
  width: 3.8rem;
}
.ap2{
width: 50%;
flex: 1;
}
.ap3{
width: 25%;
display: flex;
margin-left: 2rem;
align-items: center;
/*justify-content: space-evenly;*/

}
.imgs{
  height: 1.4rem;
  width: 1.4rem;
  margin-left: 1.2rem;
  opacity: 0.7;
}
.imgss{
  height: 1.9rem;
  width: 1.9rem;
  opacity: 0.6;
}


.input{
  background-color: white;
  
}
#vol::-webkit-slider-runnable-track{
  background-color: #ddd;
  appearance: none;
  height: 0.2rem;
  border-radius:1rem ;
  
}
#vol::-webkit-slider-thumb{

  appearance: none;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-top: -0.35rem;
  background-color: #1bd760;
}

.imgsss{
  opacity: 0.6;
}
.imgs:hover{
  opacity: 1;
}
/*middle of audio*/
.ap2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playcon{
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 1.5rem;
  opacity: 0.7;
  

}
.playcon:hover{
  opacity: 1;
}
.middle{
  height: 1.9rem;
  width: 1.9rem;
}
.middle:hover{
 height: 2.1rem;
 width: 2.1rem;
 
}
.lowermusic{
  width: 100%;
  display: flex;
  align-items: center;
}

#op{
  width: 70%;
  appearance: none;
  background-color: transparent;
}
#op::-webkit-slider-runnable-track{
  background-color: #ddd;
  border-radius: 1rem;
  height: 0.19rem;

}
#op::-webkit-slider-thumb{
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #1bd760;
  margin-top: -0.43rem;
}